:root {
  /* color-scheme: light dark; */
  --pink: rgb(208, 53, 109);
  --dark_gray: #1b242f;
  --med_gray: rgb(38, 41, 51);
  --light_gray: rgb(240, 240, 240);
  --alt_gray: rgb(217, 214, 214);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: white;
}

body,
html {
  display: block;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  padding-bottom: 75px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  color: black;
  font-size: 36pt;
}

h3 {
  color: black;
  font-size: 20pt;
  font-weight: 600;
}

h4 {
  color: black;
  font-size: 20pt;
}

h5 {
  font-size: 25pt;
  font-weight: 400;
}

p {
  color: rgb(89, 92, 101);
  margin-top: 5px;
  font-size: 12pt;
}

/* FUNCTION CLASSES */

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.dark {
  color: black;
}

/* HOME */

.container {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.--hero_container {
  height: 100vh;
  background-color: var(--med_gray);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 42pt;
}

span {
  color: var(--pink);
  font-weight: 500;
}

.hero-btn {
  border-color: white;
  border-style: solid;
  padding: 0px 20px;
  background: none;
  margin-top: 25px;
  align-items: center;
}

.btn-bg {
  background-color: var(--med_gray);
}

.hero-btn:hover {
  cursor: pointer;
  transition-behavior: normal;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background-color: var(--pink);
}

.hero-btn p {
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin-top: 0px;
}

#btn-arrow {
  margin-left: 10px;
  height: 20px;
  color: white;
  transition-duration: 0.5s;
  transition-property: transform;
}

.hero-btn:hover #btn-arrow {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

/* NAV BAR */

#navbar {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 50px;
  background: var(--dark_gray);
  border-bottom: 3px solid var(--pink);
  align-items: center;
  z-index: 99;
}

nav ul {
  list-style: none;
  padding: 0px 20px;
}

.page-link {
  margin: 0px 20px;
  font-weight: 200;
  font-size: 16px;
}

.page-link a:hover {
  cursor: pointer;
  transition-behavior: normal;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: color;
  transition-timing-function: ease;
  color: var(--pink);
}

.active {
  color: var(--pink);
}

.navbar-end {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.theme-checkbox {
  --toggle-size: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, var(--pink))) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, var(--pink) 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, var(--pink) 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, rgb(38, 41, 51) 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, rgb(38, 41, 51) 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/* ABOUT */

#about {
  /* height: 120vh; */
  background-color: white;
  padding-bottom: 25px;
}

.header-wrapper {
  margin-top: 0px;
  padding-top: 50px;
}

.underline {
  width: 75px;
  height: 3px;
  background: black;
  margin-top: 20px;
}

.attribute-img {
  height: 85px;
}

.attributes {
  width: 200px;
  margin: 75px 50px;
}

.textblock {
  margin-top: 15px;
}

.personal-skills-wrapper {
  margin: 0px 275px;
}

.personal-info {
  width: 500px;
  margin-right: 100px;
}

.bar {
  height: 35px;
  width: 600px;
  margin: 10px 0px;
  background: var(--alt_gray);
}

.fill-100 {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: var(--pink);
}

.fill-80 {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 80%;
  background: var(--pink);
}

.fill-60 {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 60%;
  background: var(--pink);
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 15;
  height: 100%;
  width: 125px;
  background: var(--med_gray);
}

.bio-img {
  width: 350px;
}

/* PORTFOLIO */

#portfolio {
  /* height: 75vh; */
  background-color: var(--light_gray);
  padding: 50px 0px;
}

.portfolio-content-wrapper {
  display: flex;
  justify-content: center;
}

.tabs-container {
  margin: 5rem 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 0px 1px;
  margin-top: 20px;
}

.grid-item {
  position: relative;
  height: 400px;
  width: 400px;
}

.grid-item img {
  height: 400px;
  width: 400px;
  position: relative;
}

.grid-item:hover img {
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.grid-item-text {
  display: none;
  opacity: 0;
  position: absolute;
  transition: 0.5s ease;
  padding: 0px 20px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}


.grid-item:hover .grid-item-text {
  display: flex;
  opacity: 1;
}

.grid-item-text .hero-btn {
  margin-top: 50px;
}

.grid-item-text p {
  color: var(--alt_gray);
}

.grid-item-text .dark {
  color: black;
}

.grid-item-text .underline-dark {
  background-color: rgb(0, 0, 0);
  height: 2px;
  width: 75px;
  margin: 10px 0px;
  stroke: var(--dark_gray);
}

.grid-item-text .underline {
  background-color: white;
  height: 2px;
  margin: 10px 0px;
  stroke: var(--dark_gray);
}

.grid-item .hero-btn {
  padding: 12px 20px;
  font-size: 16pt;
  font-weight: 200;
}

.grid-item .dark-btn {
  border-color: black;
  color: black;
}

.grid-item .dark-btn:hover {
  border-color: black;
  color: white;
}

.grid-container-cert {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 0px 1px;
  margin-top: 20px;
}

.grid-item-cert {
  position: relative;
  height: 400px;
  width: 600px;
}

.grid-item-cert a {
  height: 400px;
  width: 600px;
  position: relative;
}

.cert-img {
  height: 400px;
  width: 600px;
}


/* CONTACT */

#contact {
  /* height: 95vh; */
  background-color: var(--med_gray);
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 100px solid var(--light_gray);
}

.contact-header {
  color: white;
}

#contact .header-wrapper .underline {
  background-color: white;
}

.contact-question {
  color: var(--pink);
  font-size: 14pt;
  margin-top: 50px;
}

form {
  margin-top: 50px;
}

.input-area {
  width: 470px;
  height: 18.5px;
  background: #1b242f;
  color: var(--light_gray);
  margin-bottom: 5px;
  border-style: none;
  padding: 10px 15px;
}

#message {
  height: 130px;
}

.submit-bottom {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

#submit-btn {
  font-size: 14pt;
  padding: 7px 30px;
  margin: 3px 0px 0px auto;
}

.success {
  color: var(--pink);
  font-size: 14pt;
}

/* FOOTER */

#footer {
  /* height: 15vh; */
  background: var(--dark_gray);
}

.social {
  background-color: var(--dark_gray);
  height: 55px;
  width: 55px;
  margin: 20px 15px;
  transition-behavior: normal, normal, normal, normal;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
}

.social:hover {
  cursor: pointer;
  background: var(--pink);
  transition-property: background, color, box-shadow, transform;
  transition-timing-function: ease, ease, ease, ease;
}

.social img {
  height: 25px;
  width: 25px;
}

.copyright {
  margin-bottom: 15px;
  color: var(--alt_gray);
}

/* DROPDOWN MENU FOR NAV BAR */
.dropdown-container {
  margin-left: auto;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: var(--pink);
  color: white;
  padding: 16px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(253, 60, 131);
}

/* DARK MODE */
.dark-mode .--hero_container,
.dark-mode #contact {
  background-color: rgb(10, 10, 10);
}

.dark-mode nav,
.dark-mode .footer-wrapper {
  background-color: black;
}

.dark-mode #about {
  background-color: #121212;
}

.dark-mode #about h2,
.dark-mode #portfolio h2,
.dark-mode #about h3 {
  color: white;
}

.dark-mode #about p,
.dark-mode #portfolio p {
  color: #9ea2ab;
}

.dark-mode .underline {
  background-color: white;
}

.dark-mode .attribute-img {
  filter: invert(100%) sepia(0%) saturate(7462%) hue-rotate(343deg) brightness(108%) contrast(101%);
}

.dark-mode #portfolio {
  background-color: #262626;
}

.dark-mode .triangle-down {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 100px solid #262626;
}

.dark-mode .pcss3t > label {	
	padding: 0 20px;
	background: #131313;
	font-size: 13px;
	line-height: 49px;
}
.dark-mode .pcss3t > label:hover {
	background: #121212;
}
.dark-mode .pcss3t > input:checked + label {
	background: #121212;
}
.dark-mode .pcss3t > ul {
	background: #121212;
	text-align: left;
}

.dark-mode .input-area {
  background-color: black;
}

.dark-mode .hero-btn,
.dark-mode .social {
  background-color: rgb(10, 10, 10);
}

.dark-mode .hero-btn:hover,
.dark-mode .social:hover {
  background-color: var(--pink);
}

.dark-mode #portfolio .hero-btn {
  color: white;
}


/* RESPONSIVE LAYOUT: PHONES */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25pt;
  }

  h3 {
    font-size: 16pt;
  }

  p {
    font-size: 12pt;
  }

  nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
  }

  .nav-wrapper {
    display: none;
  }

  .dropdown-container {
    margin-left: 0px;
  }

  .dropbtn {
    padding: 10px 25px;
  }

  .attribute-wrapper {
    flex-wrap: wrap;
  }

  .attributes {
    width: 125px;
    margin: 40px 15px;
  }

  .personal-skills-wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 15px 0px;
  }

  .bar {
    height: 35px;
    width: 325px;
    margin: 10px 0px;
    background: var(--alt_gray);
  }

  .personal-info {
    max-width: 350px;
    margin: 15px 0px;
  }

  .grid-container {
    margin-top: 40px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 2px 0px;
  }

  .grid-item {
    height: 300px;
    width: 300px;
  }

  .grid-item img {
    height: 300px;
    width: 300px;
  }

  .grid-container-cert {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 0px 1px;
    margin-top: 20px;
  }
  
  .grid-item-cert {
    position: relative;
    height: 200px;
    width: 300px;
  }
  
  .grid-item-cert img {
    height: 200px;
    width: 300px;
    position: relative;
  }

  .triangle-down {
    border-top: 50px solid var(--light_gray);
  }

  .contact-question {
    font-size: 12pt;
    margin-top: 30px;
    padding: 0px 5px;
  }

  .input-area {
    width: 300px;
  }

  #submit-btn {
    padding: 5px 20px;
    margin: 3px 0px 15px auto;
  }

  .portfolio-content-wrapper {
    display: block;
    margin: 0px auto;
  }

  .tabs-container {
    margin: 35px 15px;
  }
  
  .webapp-3 {
    display: none;
  }

  .web-app-3-mobile {
    display: none;
  }
  
}

/* RESPONSIVE LAYOUT: TABLETS */

@media only screen and (min-width: 600px) and (max-device-width: 1200px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
  }

  .nav-wrapper {
    display: none;
  }

  .dropdown-container {
    margin-left: 0px;
  }

  .attribute-wrapper {
    flex-wrap: wrap;
  }

  .attributes {
    width: 125px;
    margin: 40px 30px;
  }

  .personal-skills-wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 15px 0px;
  }

  .bar {
    height: 35px;
    width: 600px;
    margin: 10px 0px;
    background: var(--alt_gray);
  }

  .personal-info {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    margin: 15px 0px;
  }

  .personal-info h3 {
    font-size: 25pt;
  }

  .personal-info p {
    font-size: 14pt;
  }

  .bio-img {
    height: 300px;
    margin-right: 30px;
  }

  .grid-container {
    margin-top: 40px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 2px 2px;
  }

  .grid-item {
    height: 300px;
    width: 300px;
  }

  .grid-item img {
    height: 300px;
    width: 300px;
  }

  .grid-item-text h5 {
    font-size: 20pt;
    font-weight: 400;
  }
  
  .grid-item-text p {
    margin-top: 5px;
    font-size: 12pt;
  }

  .triangle-down {
    border-top: 50px solid var(--light_gray);
  }

  .contact-question {
    font-size: 14pt;
    margin-top: 30px;
  }

  .input-area {
    width: 600px;
  }

  #submit-btn {
    padding: 5px 20px;
    margin: 3px 0px 15px auto;
  }

  .portfolio-content-wrapper {
    display: block;
    margin: 0px auto;
    width: 800px;
  }
  
  .tab-content {
    display: block;
    width: 800px;
  }  

.webapp-3 {
  display: none;
}
}
